<!-- Modal -->
<div class="modal fade" id="editMemberModal" tabindex="-1" role="dialog" aria-labelledby="editMemberModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editMemberLabel">Mitglied bearbeiten</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editMemberForm" action="/api/members/edit" method="POST">
                    <input class="inputId" type="hidden" name="id" value=""/>
                    <div class="form-group">
                        <label for="editSelectGender">Anrede</label>
                        <select class="selectGender custom-select" id="editSelectGender" name="geschlecht" required>
                            <option selected value="M">Herr</option>
                            <option value="F">Frau</option>
                        </select>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="editInputFirstName">Vorname</label>
                            <input type="text" class="inputFirstName form-control" id="editInputFirstName" name="vorname" placeholder="Vorname" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="editInputLastName">Nachname</label>
                            <input type="text" class="inputLastName form-control" id="editInputLastName" name="name" placeholder="Nachname" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editInputBirthday">Geburtstag</label>
                        <input type="date" class="inputBirthday form-control" id="editInputBirthday" name="geburtsdatum" required>
                    </div>
                    <div class="form-group">
                        <label for="editInputEmail">E-Mail Adresse</label>
                        <input type="email" class="inputEmail form-control" id="editInputEmail" name="email" aria-describedby="emailHelp" placeholder="E-Mail">
                    </div>
                    <div class="form-group">
                        <label for="editInputStreet">Strasse</label>
                        <input type="text" class="inputStreet form-control" id="editInputStreet" name="strasse" placeholder="Strasse" required>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="editInputZip">PLZ</label>
                            <input type="text" class="inputZip form-control" id="editInputZip" name="plz" placeholder="PLZ" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="editInputCity">Ort</label>
                            <input type="text" class="inputCity form-control" id="editInputCity" name="ort" placeholder="Ort" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                        <button type="submit" form="editMemberForm" class="btn btn-primary">Speichern</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
