<div class="modal fade " id="deleteConfirmationMemberModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Mitglied löschen</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Wollen Sie dieses Mitglied wirklich endgültig löschen?
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <a href="javascript:void(0);" class="deleteConfirmationMember btn btn-primary">
                    <span>
                        Ja
                    </span>
                </a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Nein</button>
            </div>

        </div>
    </div>
</div>
