<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <li class="sidebar-brand d-flex align-items-center justify-content-center">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-users"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Club Manager</div>
    </li>

    <!-- Divider -->
    <li>
        <hr class="sidebar-divider my-0">
    </li>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/dashboard">
            <i class="fas fa-fw fa-home"></i>
            <span>Home</span></a>
    </li>

    <!-- Divider -->
    <li>
        <hr class="sidebar-divider">
    </li>

    <!-- Nav Item -->
    <li class="nav-item">
        <a class="nav-link" href="/members">
            <i class="fas fa-fw fa-user"></i>
            <span>Mitglieder</span>
        </a>
    </li>

    <!-- Nav Item -->
    <li class="nav-item">
        <a class="nav-link" href="/teams">
            <i class="fas fa-fw fa-users"></i>
            <span>Teams</span>
        </a>
    </li>

    <!-- Nav Item -->
    <li class="nav-item">
        <a class="nav-link" href="/events">
            <i class="fas fa-fw fa-calendar"></i>
            <span>Terminübersicht</span>
        </a>
    </li>

    <!-- Nav Item -->
    <li class="nav-item">
        <a class="nav-link" href="/vorstand">
            <i class="fas fa-fw fa-user"></i>
            <span>Vorstand</span>
        </a>
    </li>

    <!-- Divider -->
    <li>
        <hr class="sidebar-divider d-none d-md-block">
    </li>

    <!-- Sidebar Toggler (Sidebar) -->
    <li class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </li>

</ul>
<!-- End of Sidebar -->
