<div id="content-wrapper" class="d-flex flex-column">
    <div id="content" class="pt-4">
        <div class="container-fluid">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Termin Details</h1>
                <a href="/events" class="btn btn-danger">Zurück</a>
            </div>
            <div class="row" id="app_eventDetail">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="card-img-top" src="../views/img/grillfest.png" alt="Card image"
                                    style="width:100%">
                            </div>
                            <div class="col-md-8">
                                <br>
                                <h4 class="card-title" id="eventName"></h4>
                                <p>
                                    <span>Ort: </span><span id="eventOrt"></span><br>
                                    <span>Datum: </span><span id="eventDatum"></span><br>
                                    <span>Uhrzeit: </span><span id="eventZeit"></span>
                                </p>
                                <h5 class="card-text">Beschreibung</h5>
                                <span class="card-text" id="eventBeschreibung" style="white-space:pre;"></span>
                                <br>
                                <h5 class="card-text">Verantwortlicher:</h5>
                                <span class="card-text" id="eventVerantwortlicher"></span>
                                <span class="card-text">
                                    <a href="mailto:some@email.com" target="_blank"
                                        class="btn btn-primary btn-sm ml-2">E-Mail</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xl-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Teilnehmer</h6>
                        </div>
                        <div class="card-body" id="app_eventParticipants">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>