<div id="content-wrapper" class="d-flex flex-column">
    <div id="content" class="pt-4">
        <div class="container-fluid">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Terminübersicht</h1>
                <a href="#" class="btn btn-success btn-icon-split" data-toggle="modal" data-target="#newEventModal">
                    <span class="icon text-white-50">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">Hinzufügen</span>
                </a>
                {{> event_add_modal }}
                {{> event_edit_modal }}
                {{> event_delete_confirmation_modal }}
                {{> event_register_confirmation_modal }}
            </div>
            
            <div class="row">
                <div class="col-xl-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Anlässe</h6>
                            <input type="text" class="form-control form-control-sm small border-0 col-sm-4"
                                id="dataTableSearch" placeholder="Suche..." aria-label="Search">
                        </div>
                        <div class="card-body" id="app_events">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
